@using Recruit.ViewModel
@model Recruit.ViewModel.RequisitionPageViewModel


@{
    ViewBag.Title = "Edit";
}
<h2>Requisition</h2>

<div class="panel panel-info">
    <div class="panel-heading">
        <div class="panel-title pull-left">
            <b>All Requisitions</b>
        </div>
        
        <div class="clearfix"></div>
    </div>
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Req#</th>
                        <th>Status</th>
                        <th>Skills</th>
                        <th></th>
                        
                    </tr>
                </thead>
                <tbody>

                    @foreach (var req in Model.Requisitions)
                    {
                        <tr>

                            <td>@req.reqNo</td>
                            <td>@req.Req_status</td>
                            <td>
                                <ul>
                                    @foreach (var skill in Model.skills_in_req)
                                    {
                                        <li>@skill</li>
                                    }
                                </ul>
                            </td>
                            <td><button type="submit" class="btn btn-primary js-delete" id="@req.Id">Edit</button></td>

                        </tr>
                    }

                </tbody>

            </table>
        </div>
    </div>
</div>

<div id="txtArea" class="form-inline">
        @using (Html.BeginForm("Add", "Skill", FormMethod.Post))
        {
            <input type="text" class="form-control" />
            @Html.DropDownList("Status", new List<SelectListItem>
                {
                    new SelectListItem{ Text="Open", Value = "1" },
                    new SelectListItem{ Text="Closed", Value = "0" }
                 }, new { @class = "form-control" })

            <select id="insightList " multiple="multiple" name="sightList">
                <optgroup label="Skill Set">
                    @foreach (var skill in Model.Skill)
                    {
                            <option>@skill.Name</option>
                    }
                </optgroup>

            </select>

             //@Html.DropDownListFor(m => m.SelectedSkill, Model.Skill, new { @class="form-control"})
            <button type="submit" class="btn btn-primary">Add Skill</button>
            
              
        }
</div>

@section scripts
{
    <script id="dropdown">
        $('#insightList').multiselect({
            enableClickableOptGroups: true
        });
    </script>
}

