@model List<Recruit.Models.Skills>



@{
    ViewBag.Title = "EditSkill";
}

<h2>Skills</h2>

<div class="panel panel-info">
    <div class="panel-heading">
        <div class="panel-title pull-left">
            <b>All Skills</b>
        </div>
        <div id="txtArea" class="form-inline pull-right">   
            <input id="addSkillText" type="text" class="form-control addSkillText" name="Skill"/>
            <button type="submit" class="btn btn-primary" id="btnAddSkill">Add Skill</button>    
        </div>
        <div class="clearfix"></div>
       
    </div>
   

    <div class="panel-body">
        
        <div class="table-responsive">
            <table class="table table-bordered " id="Skills">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Delete </th>
                        <th>Edit </th>


                    </tr>
                </thead>
                <tbody>

                    @foreach (var skill in Model)
                    {
                        <tr>

                            <td id="skillName">@skill.Name</td>
                            <td><button type="submit" class="btn btn-primary js-delete" id="@skill.Id">Delete</button></td>
                            <td><button type="submit" class="btn btn-primary js-edit" id="skillId">Edit</button></td>
                        </tr>
                    }

                </tbody>

            </table>
        </div>
    </div>
</div>





<div id="butn">

</div>



@section scripts{
     <script>
         $(document).ready(function () {

           
            
             $("#Skills").DataTable();

             
             $("#Skills .js-delete").on('click', function (event) {
                 console.log("In handler");


                 var button=$(this);
                 bootbox.confirm("Are you sure you want to delete this skill?", (function (result) {
                     if (result) {
                         console.log("In if");
                         console.log(typeof(event.target.id));
                         $.ajax({
                             type: 'POST',
                             url: "@Url.Action("EditSkill", "Skill")",
                             data: JSON.stringify({ "key": event.target.id }),
                             contentType: "application/json; charset=utf-8",
                             dataType: "json",
                             success: function (data) {
                                 
                                 window.location.reload(true);
                                 console.log("In success");
                                 button.parents("tr").remove();
                             },
                             error: function(data)
                             {
                                 console.log(data);
                             }
                         });
                     }
                 })

                 );
                
                 
             });

             var editVal;

             $("#Skills .js-edit").click( function (event) {
                 console.log("In Edit handler");

                 var $row = $(this).closest("tr");
                 console.log($row);
                 var $text = $row.find("#skillName").text();

                 editVal=$text;

                 console.log($text);

                 $("#addSkillText").val($text);
                 $("#btnAddSkill").text("Update");
                 

                


                
             }
             );

             
             $("#btnAddSkill").click(function (event) {
                 console.log("In add/update handler");

                 var value = $("#btnAddSkill").text();
                 console.log(value);

                 if(value=="Update")
                 {
                     console.log("Inside update");
                     var skill = $("#addSkillText").val();
                     $.ajax({
                         type: 'POST',
                         url: "@Url.Action("Update", "Skill")",
                         data: JSON.stringify({'key': skill, 'oldVal': editVal}),
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        success: function (data) {
                                 
                            window.location.reload(true);
                            console.log("In success");
                            
                        },
                        error: function(data)
                        {
                             console.log(data);
                        }
                    });
                 }
                 else
                 {
                     console.log("Inside add");
                     var skill = $("#addSkillText").val();
                     console.log(skill);
                    
                     $.ajax({
                         type: 'POST',
                         url: "@Url.Action("Add", "Skill")",
                         data: JSON.stringify({ "key": skill }),
                         contentType: "application/json; charset=utf-8",
                         dataType: "json",
                         success: function (data) {
                                 
                             window.location.reload(true);
                             console.log("In success");
                             
                        },
                        error: function(data)
                        {
                             console.log(data);
                        }
                     });
                 }
             })
         
         });
     </script>
}

